<router-outlet>
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
 <a class="navbar-brand" href="#" style="color :white;">City Info</a>
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
 </button>
 <div class="collapse navbar-collapse" id="navbarText">
   <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" style="color :white;" [routerLink]="['/signup']">Register</a>
     </li>
     <li class="nav-item">
       <a class="nav-link" style="color :white;" [routerLink]="['/login']">Login</a>
     </li> 
     <!-- <li class="nav-item">
       <a class="nav-link" style="color :white;"  href="#">Admin</a>
     </li>
     <li class="nav-item">
       <a class="nav-link" style="color :white;"  href="#">User</a>
     </li> -->
   
   </ul>
   <span class="navbar-text-bold" style="color :white;">
   </span>
 </div>
</nav>



<footer class="text-muted py-5">
  <div class="container">  
    <p class="mb-1">City Information &copy;2023</p>  
  </div>
</footer>
</router-outlet>